* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* Setting these to 0 to remove the default settings*/



body {
    background-color: #0f172a;
    color: white; /* Changing all the text color within the body */
    padding: 24px;
    min-height: 100vh;
}

header {
    display: flex;
}